.input-full-width {
  width: 100%;
}
.spacer {
  flex: 1 1 auto;
}

.forgotPasswordAlign {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  /*padding: 10px;*/
  margin: 10px 10px 0px 0px;
}


.loginAlign {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  /*padding: 10px;*/
  margin: 10px 10px 0px 0px;
}
