target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


### Front end ##

node_modules/
.gradle

### Back end ###

tmp/
.gradle/3.5/fileContent/
.gradle/3.5/taskHistory/jvmClassSignatures.bin
src/main/java/com/cr0mbly/whereshouldibuy/controller/SecureController.java
src/main/java/com/cr0mbly/whereshouldibuy/services/interfaces/
