<div class="example-container mat-elevation-z8">
  <md-table #table [dataSource]="dataSource">
    <!-- ID Column -->
    <ng-container cdkColumnDef="userId">
      <md-header-cell *cdkHeaderCellDef> UserID </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.userID}} </md-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container cdkColumnDef="firstName">
      <md-header-cell *cdkHeaderCellDef> First Name </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.firstName}}% </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="lastName">
      <md-header-cell *cdkHeaderCellDef> Last Name </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.lastName}} </md-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container cdkColumnDef="email">
      <md-header-cell *cdkHeaderCellDef>Email</md-header-cell>
      <md-cell *cdkCellDef="let row" [style.color]="row.color"> {{row.email}} </md-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container cdkColumnDef="edit">
      <md-header-cell *cdkHeaderCellDef>Edit</md-header-cell>
      <md-cell *cdkCellDef="let row" [style.color]="row.color">
        <button md-button (click)="editUser(row)">
        <md-icon>mode_edit</md-icon>
        <span>Edit User</span>
      </button> </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>
