<md-sidenav-container class="page-wrap" fullscreen>
  <md-toolbar>
    <button *ngIf="mobile" (click)="sidenav.toggle()" md-icon-button >
      <md-icon>view_list</md-icon>
    </button>
    <span class="toolbar-spacer">World Star</span>
    <span class="header-spacer"></span>
      <button *ngIf="!loggedIn" (click)="openDialog()" md-button>
        <md-icon>lock_open</md-icon>
        <span *ngIf="!mobile">Sign up / Login</span>
      </button>
      <button *ngIf="loggedIn" [mdMenuTriggerFor]="menu" md-button>
        <md-icon>lock_open</md-icon>
        <span *ngIf="!mobile">{{userID}}</span>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item [routerLink]="profileLink">
          <md-icon>person_pin</md-icon>
          <span>Profile</span>
        </button>
        <button md-menu-item (click)="doLogout()">
          <md-icon>lock_outline</md-icon>
          <span>Logout</span>
        </button>
      </md-menu>

      <md-toolbar-row *ngIf="loggedIn">
        <a md-button *ngFor="let item of toolbarLinks" [routerLink]="item.path" md-button>
          <md-icon>lock_open</md-icon>
          <span *ngIf="!mobile">{{item.linkName}}</span>
        </a>
      </md-toolbar-row>
  </md-toolbar>

  <md-sidenav #sidenav mode="over" opened="false">
    <md-list>
      <h3>links:</h3>
      <md-list-item>
        <button md-button>
          <md-icon>add</md-icon>
          <span>this is text</span>
        </button>
      </md-list-item>
      <br>
      <md-list-item class="side-nav-container">
        <button md-button>
          <md-icon>add</md-icon>
          <span>this is text</span>
        </button>
      </md-list-item>
      <br>
      <md-list-item>
        <button md-button>
          <md-icon>add</md-icon>
          <span>this is text</span>
        </button>
      </md-list-item>
      <br>
      <md-divider></md-divider>
      <br>
      <md-list-item>
        <button md-button>
          <md-icon>add</md-icon>
          <span>this is text</span>
        </button>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <div class="app-route-content">
    <router-outlet></router-outlet>
  </div>
  <footer></footer>
</md-sidenav-container>
