.stickyFooter {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footerDesign {
  height: 50px;
  background-color: black;
}

.footerContent {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  /*padding: 10px;*/
  margin: 10px 10px 0 0;
}
